[Desktop Entry]
Categories=AudioVideo;Player;
Encoding=UTF-8
Name=GlassCommander
GenericName=Audio Stream Encoder
Exec=glasscommander
Icon=glasscoder
Path=
Type=Application
Terminal=false
