*~
*.1
*.7
*.buildinfo
*.changes
*.ddeb
*.deb
*.dsc
*.fo
*.html
*.la
*.lo
*.o
*.rpm
*.spec
*.tar.gz
*.tar.xz
.deps
aclocal.m4
autom4te.cache
build_debs.sh
compile
config.guess
config.log
config.status
config.sub
configure
debian/changelog
debian/control
depcomp
docs/glasscoder.xml
install-sh
Makefile
Makefile.in
missing
moc_*
plugins/install_pypad.sh
src/common/paths.h
src/glasscoder/asihpi.cpp
src/glasscoder/asihpi.h
src/glasscoder/audiodevice.cpp
src/glasscoder/audiodevice.h
src/glasscoder/cmdswitch.cpp
src/glasscoder/cmdswitch.h
src/glasscoder/codec.cpp
src/glasscoder/codec.h
src/glasscoder/connector.cpp
src/glasscoder/connector.h
src/glasscoder/glasscoder
src/glasscoder/glassconv
src/glasscoder/glasslimits.h
src/glasscoder/logging.cpp
src/glasscoder/logging.h
src/glasscoder/metaevent.cpp
src/glasscoder/metaevent.h
src/glasscoder/paths.h
src/glasscoder/ringbuffer.cpp
src/glasscoder/ringbuffer.h
src/glasscoder/codecdialog.cpp
src/glasscoder/codecdialog.h
src/glasscoder/codeviewer.cpp
src/glasscoder/codeviewer.h
src/glasscoder/combobox.cpp
src/glasscoder/combobox.h
src/glasscoder/guiapplication.cpp
src/glasscoder/guiapplication.h
src/glasscoder/hpiinputlistview.cpp
src/glasscoder/hpiinputlistview.h
src/glasscoder/hpiwidget.cpp
src/glasscoder/hpiwidget.h
src/glasscoder/messagewidget.cpp
src/glasscoder/messagewidget.h
src/glasscoder/profile.cpp
src/glasscoder/profile.h
src/glasscoder/segmeter.cpp
src/glasscoder/segmeter.h
src/glasscoder/serverdialog.cpp
src/glasscoder/serverdialog.h
src/glasscoder/sourcedialog.cpp
src/glasscoder/sourcedialog.h
src/glasscoder/spinbox.cpp
src/glasscoder/spinbox.h
src/glasscoder/statuswidget.cpp
src/glasscoder/statuswidget.h
src/glasscoder/stereometer.cpp
src/glasscoder/stereometer.h
src/glasscoder/streamdialog.cpp
src/glasscoder/streamdialog.h
src/glasscommander/asihpi.cpp
src/glasscommander/asihpi.h
src/glasscommander/audiodevice.cpp
src/glasscommander/audiodevice.h
src/glasscommander/cmdswitch.cpp
src/glasscommander/cmdswitch.h
src/glasscommander/codec.cpp
src/glasscommander/codec.h
src/glasscommander/codecdialog.cpp
src/glasscommander/codecdialog.h
src/glasscommander/codeviewer.cpp
src/glasscommander/codeviewer.h
src/glasscommander/combobox.cpp
src/glasscommander/combobox.h
src/glasscommander/connector.cpp
src/glasscommander/connector.h
src/glasscommander/glasscommander
src/glasscommander/glasslimits.h
src/glasscommander/guiapplication.cpp
src/glasscommander/guiapplication.h
src/glasscommander/hpiinputlistview.cpp
src/glasscommander/hpiinputlistview.h
src/glasscommander/hpiwidget.cpp
src/glasscommander/hpiwidget.h
src/glasscommander/logging.cpp
src/glasscommander/logging.h
src/glasscommander/messagewidget.cpp
src/glasscommander/messagewidget.h
src/glasscommander/metaevent.cpp
src/glasscommander/metaevent.h
src/glasscommander/paths.h
src/glasscommander/profile.cpp
src/glasscommander/profile.h
src/glasscommander/ringbuffer.cpp
src/glasscommander/ringbuffer.h
src/glasscommander/segmeter.cpp
src/glasscommander/segmeter.h
src/glasscommander/serverdialog.cpp
src/glasscommander/serverdialog.h
src/glasscommander/sourcedialog.cpp
src/glasscommander/sourcedialog.h
src/glasscommander/spinbox.cpp
src/glasscommander/spinbox.h
src/glasscommander/statuswidget.cpp
src/glasscommander/statuswidget.h
src/glasscommander/stereometer.cpp
src/glasscommander/stereometer.h
src/glasscommander/streamdialog.cpp
src/glasscommander/streamdialog.h
src/glassgui/asihpi.cpp
src/glassgui/asihpi.h
src/glassgui/audiodevice.cpp
src/glassgui/audiodevice.h
src/glassgui/cmdswitch.cpp
src/glassgui/cmdswitch.h
src/glassgui/codec.cpp
src/glassgui/codec.h
src/glassgui/connector.cpp
src/glassgui/connector.h
src/glassgui/glassgui
src/glassgui/glasslimits.h
src/glassgui/logging.cpp
src/glassgui/logging.h
src/glassgui/metaevent.cpp
src/glassgui/metaevent.h
src/glassgui/paths.h
src/glassgui/ringbuffer.cpp
src/glassgui/ringbuffer.h
src/glassgui/codecdialog.cpp
src/glassgui/codecdialog.h
src/glassgui/codeviewer.cpp
src/glassgui/codeviewer.h
src/glassgui/combobox.cpp
src/glassgui/combobox.h
src/glassgui/guiapplication.cpp
src/glassgui/guiapplication.h
src/glassgui/hpiinputlistview.cpp
src/glassgui/hpiinputlistview.h
src/glassgui/hpiwidget.cpp
src/glassgui/hpiwidget.h
src/glassgui/messagewidget.cpp
src/glassgui/messagewidget.h
src/glassgui/profile.cpp
src/glassgui/profile.h
src/glassgui/segmeter.cpp
src/glassgui/segmeter.h
src/glassgui/serverdialog.cpp
src/glassgui/serverdialog.h
src/glassgui/sourcedialog.cpp
src/glassgui/sourcedialog.h
src/glassgui/spinbox.cpp
src/glassgui/spinbox.h
src/glassgui/statuswidget.cpp
src/glassgui/statuswidget.h
src/glassgui/stereometer.cpp
src/glassgui/stereometer.h
src/glassgui/streamdialog.cpp
src/glassgui/streamdialog.h
src/tests/asihpi.cpp
src/tests/asihpi.h
src/tests/audiodevice.cpp
src/tests/audiodevice.h
src/tests/cmdswitch.cpp
src/tests/cmdswitch.h
src/tests/codec.cpp
src/tests/codec.h
src/tests/connector.cpp
src/tests/connector.h
src/tests/glasslimits.h
src/tests/logging.cpp
src/tests/logging.h
src/tests/metaevent.cpp
src/tests/metaevent.h
src/tests/paths.h
src/tests/pipe_connect
src/tests/ringbuffer.cpp
src/tests/ringbuffer.h
src/tests/codecdialog.cpp
src/tests/codecdialog.h
src/tests/codeviewer.cpp
src/tests/codeviewer.h
src/tests/combobox.cpp
src/tests/combobox.h
src/tests/guiapplication.cpp
src/tests/guiapplication.h
src/tests/hpiinputlistview.cpp
src/tests/hpiinputlistview.h
src/tests/hpiwidget.cpp
src/tests/hpiwidget.h
src/tests/messagewidget.cpp
src/tests/messagewidget.h
src/tests/profile.cpp
src/tests/profile.h
src/tests/segmeter.cpp
src/tests/segmeter.h
src/tests/serverdialog.cpp
src/tests/serverdialog.h
src/tests/sourcedialog.cpp
src/tests/sourcedialog.h
src/tests/spinbox.cpp
src/tests/spinbox.h
src/tests/statuswidget.cpp
src/tests/statuswidget.h
src/tests/stereometer.cpp
src/tests/stereometer.h
src/tests/streamdialog.cpp
src/tests/streamdialog.h
src/tests/urldecode
src/tests/urlencode
