*~
.deps
*.la
*.lo
*.o
*.spec
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
src/glasscoder/audiodevice.cpp
src/glasscoder/audiodevice.h
src/glasscoder/cmdswitch.cpp
src/glasscoder/cmdswitch.h
src/glasscoder/codec.cpp
src/glasscoder/codec.h
src/glasscoder/connector.cpp
src/glasscoder/connector.h
src/glasscoder/glasscoder
src/glasscoder/glasslimits.h
src/glasscoder/logging.cpp
src/glasscoder/logging.h
src/glasscoder/ringbuffer.cpp
src/glasscoder/ringbuffer.h
src/glassgui/audiodevice.cpp
src/glassgui/audiodevice.h
src/glassgui/cmdswitch.cpp
src/glassgui/cmdswitch.h
src/glassgui/codec.cpp
src/glassgui/codec.h
src/glassgui/connector.cpp
src/glassgui/connector.h
src/glassgui/glassgui
src/glassgui/glasslimits.h
src/glassgui/logging.cpp
src/glassgui/logging.h
src/glassgui/ringbuffer.cpp
src/glassgui/ringbuffer.h
