*~
*.1
*.7
*.fo
*.html
*.la
*.lo
*.o
*.rpm
*.spec
*.tar.gz
.deps
aclocal.m4
autom4te.cache
config.log
config.status
configure
depcomp
install-sh
Makefile
Makefile.in
missing
moc_*
src/glasscoder/asihpi.cpp
src/glasscoder/asihpi.h
src/glasscoder/audiodevice.cpp
src/glasscoder/audiodevice.h
src/glasscoder/cmdswitch.cpp
src/glasscoder/cmdswitch.h
src/glasscoder/codec.cpp
src/glasscoder/codec.h
src/glasscoder/connector.cpp
src/glasscoder/connector.h
src/glasscoder/glasscoder
src/glasscoder/glasslimits.h
src/glasscoder/logging.cpp
src/glasscoder/logging.h
src/glasscoder/metaevent.cpp
src/glasscoder/metaevent.h
src/glasscoder/ringbuffer.cpp
src/glasscoder/ringbuffer.h
src/glassgui/asihpi.cpp
src/glassgui/asihpi.h
src/glassgui/audiodevice.cpp
src/glassgui/audiodevice.h
src/glassgui/cmdswitch.cpp
src/glassgui/cmdswitch.h
src/glassgui/codec.cpp
src/glassgui/codec.h
src/glassgui/connector.cpp
src/glassgui/connector.h
src/glassgui/glassgui
src/glassgui/glasslimits.h
src/glassgui/logging.cpp
src/glassgui/logging.h
src/glassgui/metaevent.cpp
src/glassgui/metaevent.h
src/glassgui/ringbuffer.cpp
src/glassgui/ringbuffer.h
src/tests/asihpi.cpp
src/tests/asihpi.h
src/tests/audiodevice.cpp
src/tests/audiodevice.h
src/tests/cmdswitch.cpp
src/tests/cmdswitch.h
src/tests/codec.cpp
src/tests/codec.h
src/tests/connector.cpp
src/tests/connector.h
src/tests/glasslimits.h
src/tests/logging.cpp
src/tests/logging.h
src/tests/metaevent.cpp
src/tests/metaevent.h
src/tests/pipe_connect
src/tests/ringbuffer.cpp
src/tests/ringbuffer.h
